{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to <strong>{{title}}</strong>, a very basic Express developed as a tutorial example on the Mozilla Developer Network.</p>
  <h2>Dynamic Content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books</strong>: 0</li>
    <li><strong>Copies</strong>: 0</li>
    <li><strong>Authors</strong>: 0</li>
    <li><strong>Genres</strong>: 0</li>
  </ul>
{% endblock %}
