<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <ul class="sidebar-nav">
            <li><a href="/catalog">Home</a></li>
            <li><a href="/catalog/books">All Books</a></li>
            <li><a href="/catalog/authors">All Authors</a></li>
            <li><hr></li>
            <li><a href="/catalog/book/new">Create New Author</a></li>
            <li><a href="/catalog/author/new">Create New Book</a></li>
          </ul>
        </div>
        <div class="col-sm-10">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
